.DS_Store
kitty/.config/kitty/kitty-themes/
ranger/.config/ranger/plugins/ranger_devicons/


# Ignore cache and state files
cmus/.config/cmus/cache
cmus/.config/cmus/playlists/
cmus/.config/cmus/autosave
cmus/.config/cmus/lib.pl
cmus/.config/cmus/search-history
kde/.config/plasma-org.kde.plasma.desktop-appletsrc
kde/.config/kwinrc


# Ignore all cache files
**/cache


# Ignore all plasma applet state files
**/*appletsrc