.DS_Store
kitty/.config/kitty/kitty-themes/
ranger/.config/ranger/plugins/
ranger/.config/ranger/colorschemes

# Ignore cache and state files
common/cmus/.config/cmus/cache
common/cmus/.config/cmus/playlists/
common/cmus/.config/cmus/autosave
common/cmus/.config/cmus/lib.pl
common/cmus/.config/cmus/search-history
common/emacs/.emacs.d/auto-save-list/
common/emacs/.emacs.d/config.el
common/emacs/.emacs.d/eln-cache/
common/emacs/.emacs.d/elpa/
common/emacs/.emacs.d/history
common/emacs/.emacs.d/lisp/
common/emacs/.emacs.d/places
common/emacs/.emacs.d/recentf
common/emacs/.emacs.d/temp/
wm/kde/.config/plasma-org.kde.plasma.desktop-appletsrc
wm/kde/.config/kwinrc


# Ignore all cache files
**/cache


# Ignore all plasma applet state files
**/*appletsrc