binds  {

    // BRIGHTNESS
    // ──────────────────────
    Mod+F6                    hotkey-overlay-title="Brightness +10%"         { spawn "brightnessctl" "set" "+10%"; }
    Mod+F5                    hotkey-overlay-title="Brightness -10%"         { spawn "brightnessctl" "set" "10%-"; }
    XF86MonBrightnessUp       allow-when-locked=true                         { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown     allow-when-locked=true                         { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }


    /// VOLUME  (caps at 100%)
    /// ──────────────────────
    XF86AudioRaiseVolume      allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume      allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute             allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute          allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }


    /// MEDIA (playerctl / MPRIS)
    /// ──────────────────────
    XF86AudioPlay             allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop             allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev             allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext             allow-when-locked=true { spawn-sh "playerctl next"; }
    Scroll_Lock               { spawn-sh "playerctl play-pause"; }


    // APPLICATIONS
    // ──────────────────────
    Mod+Return   hotkey-overlay-title="Kitty"               { spawn "kitty"; }
    Mod+1        hotkey-overlay-title="Emacs"               { spawn-sh "emacsclient -c -a 'emacs --init-directory=/home/rdo/.dotfiles/common/emacs.d/'"; }
    Mod+2        hotkey-overlay-title="Firefox"             { spawn "firefox"; }
    Mod+7        hotkey-overlay-title="Fuzzel Clipboard"    { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }
    Mod+8        hotkey-overlay-title="Fuzzel Launcher"     { spawn "fuzzel"; }
    Mod+F10      hotkey-overlay-title="SMS Send (KDE)"      { spawn-sh "emacsclient -a 'emacs --daemon --init-directory=/home/rdo/.dotfiles/common/emacs.d/' --eval '(my-termux-last-sms)'"; }
    // Mod+M        hotkey-overlay-title="Scratchpad (Emacs)"  { spawn-sh "emacsclient -c -F ((title . \"niri-scratchpad\") (width . 70) (height . 20)) -e '(my-spawn-scratchpad)'"; }
    Mod+M        hotkey-overlay-title="Scratchpad (Emacs)"  { spawn-sh "emacsclient -a 'emacs --daemon --init-directory=/home/rdo/.dotfiles/common/emacs.d/' -c -F '((title . \"niri-scratchpad\") (width . 70) (height . 20))' -e '(my-spawn-scratchpad)'"; }
    Mod+N        hotkey-overlay-title="Noctalia Bar Toggle" { spawn-sh "qs -c noctalia-shell ipc call bar toggle"; }
    Mod+P        hotkey-overlay-title="Song Playing Info"   { spawn-sh "emacsclient -a 'emacs --daemon --init-directory=/home/rdo/.dotfiles/common/emacs.d/ --eval '(my-emms-now-playing-popup)'"; }
    Mod+3        hotkey-overlay-title="htop"                { spawn "kitty" "-e" "htop"; }
    Mod+4        hotkey-overlay-title="Pulsemixer"          { spawn "kitty" "-e" "pulsemixer"; }
    XF86Calculator hotkey-overlay-title="calculator (CLI)"  { spawn-sh "kitty -e calculator_cli"; }

    // "keypad numbers don't work, sub-functions only KP_END"
    // Mod+KP_1                  hotkey-overlay-title="Emacs"            { spawn "emacsclient" "-c" "-a" "emacs"; }
    // Mod+Prior // (PageUp)     hotkey-overlay-title=null               { spawn "."; }
    // Mod+Next  // (PageDown)   hotkey-overlay-title=null               { spawn "."; }
    // Mod+4                     hotkey-overlay-title="htop"             { spawn "kitty" "-e" "htop"; }
    // Mod+5                     hotkey-overlay-title="Pulsemixer"       { spawn "kitty" "-e" "pulsemixer"; }


    // SYSTEM
    // ──────────────────────
    Super+Alt+0               hotkey-overlay-title="Lock Screen"         { spawn "swaylock"; }
    Mod+Shift+E               hotkey-overlay-title="Logout (NIRI)"       { quit; }
    Mod+Alt+F4                hotkey-overlay-title="Shutdown"            { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Ctrl+Shift+Mod+Alt+P      hotkey-overlay-title="Monitors OFF"        { power-off-monitors; }
    Mod+Escape                allow-inhibiting=false                     { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+F12             hotkey-overlay-title="Reload Niri Config"  { spawn "bash" "-c" "niri msg action load-config-file && notify-send 'Niri' 'Config reloaded'"; }
    Mod+Shift+F5              hotkey-overlay-title="Trackpad ON/OFF"     { spawn-sh "SH_trackpad_toggle.sh"; }
    Alt+Space                 hotkey-overlay-title="Keyboard Language"   { spawn-sh "/home/rdo/.scripts/SH_kbd-language-change.sh"; }
    Mod+Alt+Space             hotkey-overlay-title="Keyboard Layout"     { spawn-sh "/home/rdo/.scripts/SH_kbd-layout-change.sh"; }
    Mod+h                                                                { spawn "~/.scripts/SH_helper_binds_MAIN.sh"; }


    // SCREENSHOT
    // ──────────────────────
    Print        hotkey-overlay-title="Screenshot EDIT"   { spawn-sh "grim -g \"$(slurp)\" - | satty --filename -"; }
    Ctrl+Print   hotkey-overlay-title="Screenshot CLIP"   { spawn-sh "grim -g \"$(slurp)\" - | wl-copy"; }


    // NIRI - WINDOW | (mgnt)
    // ──────────────────────
    Mod+O            hotkey-overlay-title="Overview" repeat=false { toggle-overview; }
    Mod+Q            hotkey-overlay-title="Close" repeat=false    { close-window; }
    Mod+Shift+V      hotkey-overlay-title="Float"                 { toggle-window-floating; }
    Mod+9            hotkey-overlay-title="Tabbed"                { toggle-column-tabbed-display; }
    //Mod+Shift+V    { switch-focus-between-floating-and-tiling; }


    // NIRI - WINDOW | (resize)
    // ──────────────────────
    Mod+R            hotkey-overlay-title="Horz. Preset" { switch-preset-column-width; }
    Mod+Minus        hotkey-overlay-title="Horz. -10%" { set-column-width "-10%"; }
    Mod+Equal        hotkey-overlay-title="Horz. +10%" { set-column-width "+10%"; }
    Mod+Ctrl+F       hotkey-overlay-title="Horz. Fill" { expand-column-to-available-width; }
    Mod+Shift+R      hotkey-overlay-title="Vert. Preset"  { switch-preset-window-height; }
    Mod+Shift+Minus  hotkey-overlay-title="Vert. -10%" { set-window-height "-10%"; }
    Mod+Shift+Equal  hotkey-overlay-title="Vert. +10%" { set-window-height "+10%"; }
    Mod+Ctrl+R       hotkey-overlay-title="Vert. Reset"  { reset-window-height; }
    Mod+0            hotkey-overlay-title="Maximize Toggle"   { maximize-column; }
    Mod+Shift+0      hotkey-overlay-title="Fullscreen Toggle" { fullscreen-window; }
    // Mod+Ctrl+C       hotkey-overlay-title="Center Column" { center-visible-columns; }


    // NIRI - COLUMN | (stack)
    // ──────────────────────
    Mod+BracketLeft  hotkey-overlay-title="Group/Expel LEFT  [" { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="Group/Expel RIGHT ]" { consume-or-expel-window-right; }
    // Mod+Comma        hotkey-overlay-title="Group Into Column ," { consume-window-into-column; }
    // Mod+Period       hotkey-overlay-title="Expel From Column ." { expel-window-from-column; }


    // NIRI - FOCUS | (column/window)
    // ──────────────────────
    Mod+J  hotkey-overlay-title="Focus Column Left"  { focus-column-left; }
    Mod+L  hotkey-overlay-title="Focus Column Right" { focus-column-right; }
    Mod+I  hotkey-overlay-title="Focus Window Column Up"    { focus-window-up; }
    Mod+K  hotkey-overlay-title="Focus Window Column Down"  { focus-window-down; }


    // NIRI - FOCUS | (workspace)
    // ──────────────────────
    Mod+Ctrl+I  hotkey-overlay-title="Focus Workspace Up"   { focus-workspace-up; }
    Mod+Ctrl+K  hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }


    // NIRI - FOCUS | (monitor)
    // ──────────────────────
    Mod+Alt+J  hotkey-overlay-title="Focus Monitor Left"  { focus-monitor-left; }
    Mod+Alt+L  hotkey-overlay-title="Focus Monitor Right" { focus-monitor-right; }
    Mod+Alt+I  hotkey-overlay-title="Focus Monitor Up"    { focus-monitor-up; }
    Mod+Alt+K  hotkey-overlay-title="Focus Monitor Down"  { focus-monitor-down; }


    // NIRI — SWITCH | (column/window)
    // ──────────────────────
    Mod+Shift+I  hotkey-overlay-title="Switch Window Up "   { move-window-up; }
    Mod+Shift+K  hotkey-overlay-title="Switch Window Down"  { move-window-down; }
    Mod+Shift+J  hotkey-overlay-title="Switch Column Left"  { move-column-left; }
    Mod+Shift+L  hotkey-overlay-title="Switch Column Right" { move-column-right; }


    /// NIRI — MOVE | (workspace)
    /// ──────────────────────
    // Mod+Shift+Ctrl+I  hotkey-overlay-title="Move Window to Workspace Up"    { move-window-up-or-to-workspace-up; }
    // Mod+Shift+Ctrl+K  hotkey-overlay-title="Move Window to Workspace Down"  { move-window-down-or-to-workspace-down; }


    // NIRI — MOVE | (monitor)
    // ──────────────────────
    Mod+Ctrl+Alt+I  hotkey-overlay-title="Move Column to Monitor Up"     { move-column-to-monitor-up; }
    Mod+Ctrl+Alt+K  hotkey-overlay-title="Move Column to Monitor Down"   { move-column-to-monitor-down; }
    Mod+Ctrl+Alt+J  hotkey-overlay-title="Move Column to Monitor Left"   { move-column-to-monitor-left; }
    Mod+Ctrl+Alt+L  hotkey-overlay-title="Move Column to Monitor Right"  { move-column-to-monitor-right; }


    // NIRI — MOVE COLUMN | (workspace)
    // ──────────────────────
    Mod+Ctrl+1  hotkey-overlay-title="Move Column to Workspace 1"  { move-column-to-workspace 1; }
    Mod+Ctrl+2  hotkey-overlay-title="Move Column to Workspace 2"  { move-column-to-workspace 2; }
    Mod+Ctrl+3  hotkey-overlay-title="Move Column to Workspace 3"  { move-column-to-workspace 3; }
    Mod+Ctrl+4  hotkey-overlay-title="Move Column to Workspace 4"  { move-column-to-workspace 4; }
    Mod+Ctrl+5  hotkey-overlay-title="Move Column to Workspace 5"  { move-column-to-workspace 5; }
    Mod+Ctrl+6  hotkey-overlay-title="Move Column to Workspace 6"  { move-column-to-workspace 6; }
    Mod+Ctrl+7  hotkey-overlay-title="Move Column to Workspace 7"  { move-column-to-workspace 7; }

}
