// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.

// Niri Wiki:     https://yalter.github.io/niri/Configuration:-Introduction
// Input config.: https://yalter.github.io/niri/Configuration:-Input
// Input config.: https://yalter.github.io/niri/Configuration:-Outputs
// Body config.:  https://yalter.github.io/niri/Configuration:-Layout


// input
include "input.kdl"

// output
include "output.kdl"

// load external window rules
include "window-rules.kdl"

// auto start
include "autostart.kdl"

cursor {
    hide-after-inactive-ms 2000
}

// layout
layout {
    gaps 10
    // column centering when changing focus: "never", "always", "on-overflow"
    center-focused-column "never"

    // column width preset "switch-preset-column-width" (Mod+R) toggles between
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // column height preset "switch-preset-window-height" (Mod+Shift+R) toggles between
    // preset-window-heights { }

    // You can change the default width of the new windows.
       default-column-width { proportion 0.5; }
    // default-column-width {}
    // draw-border-with-background

// focus-ring
    focus-ring {
        // focus ring/border/gradients
        // https://niri-wm.github.io/niri/Configuration:-Layout#focus-ring-and-border
        // off
        width 0.5

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // active monitor ring color
        active-color "gold"
        // inactive monitor ring color
        inactive-color "#505050"
	
        // gradients
        // https://www.css-gradient.com/
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        active-gradient from="#AA840F" to="#4F8935"  angle=180
 //       active-gradient from="#755905" to="#4F8935"  angle=180
//        active-gradient from="" to=""  angle=180



        // To do that, set relative-to="workspace-view".
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        // same settings as the focus ring
	off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

        // gradients with different interpolation color spaces
        // pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}


hotkey-overlay {
    // skip-at-startup
    hide-not-bound
}

     prefer-no-csd

// screenshot path formatted with strftime(3)
screenshot-path "~/Pix/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// disable saving screenshots to disk
// screenshot-path null

// Animation settings
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by factor, below 1 speed them up
    // slowdown 3.0
}

// Window rules let you adjust behavior for individual windows.
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match title="^$"
    match app-id="^$"
    open-floating true
}

window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// binds
include "binds.kdl"


debug {
    wait-for-frame-completion-before-queueing
}