[Unit]
Description=Udiskie Automount Daemon
After=graphical-session.target

[Service]
# --smart-tray only shows the icon when a drive is actually plugged in
ExecStart=/usr/bin/udiskie --smart-tray --notify
Restart=always

[Install]
WantedBy=default.target